body {
    background: #f7f7f7;
}

h1 {
    color: #066d96;
    font-size: 40px;
}
p {
    font-size: 1em;
}

#intro {
    display: inline;
}

li {
    font-size: 1em;
    /* color: grey; */
}
